body {
    height: 100vh;
}

.btn-active {
    background-color: green;
}

.btn-inactive {
    background-color: darkred;
    color: white;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}